html,
body {
    font-family: 'Montserrat';
    font-style: normal; 
    /* margin-top: 70px; */
    background-image: url(/assests/images/announcement/announcementBgImg.jpg);


    width: -webkit-fill-available;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: auto;
    min-height: 100%;

}
.fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.fixed-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.announcementbody{
    background-image: url(/assests/images/announcement/announcementBgImg.jpg);
    width: 100%;
    height: 100%;
}
.filterblackbg{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.filtertext{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4894B;
}
.filtersection{
    padding-left: 10px;
    padding-right: 10px;
}
.footerfiltersection{
    bottom: 70px;
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index:1;
}
.footerfilterblackbg{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.top-zero{
    top:0;
}
.staticBlackBg{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
}
.commonheadertext{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 65px;
}
.announcementText{    
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #A4894B;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}
.createAnnouncementText{    
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #A4894B;
    width:100%;
    text-shadow: 0px 4px 2px rgb(0 0 0 / 40%);
}
.announcementSection{
    width: 95%;
    max-width: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;   
    bottom: 10%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.inputSpanText{    
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.inputTextClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 70px;
    width: 100%;
    color: white;
    font-size: 20px;
    border:none;
}
.inputTextAreaClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 190px !important;
    color: white;
    font-size: 20px;
    border: none;
}
.inputTextClass:focus, .inputTextAreaClass:focus{
    background: black;
    color: white;
    font-size: 20px;
    border-color: inherit;
}

/* datetimepicker */
.datepicker.datepicker-dropdown.dropdown-menu{
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}
.datepicker th,td,tr{
    color:white;
}

/*announcement list ui*/
.announcementListMainDiv{    
    padding-left: 20px;
    padding-right: 20px;
    max-height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.announcementList{    
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.remainingDiv{
    border: 1px solid #FF0101;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    height: fit-content;
}
.submitDiv{
    border: 1px solid #14FF00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    border-radius: 10px;
    height: fit-content;
}
.submitText{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px;
    color: #14FF00;
}
.businessprofiletext {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.remainingText{    
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FF0000;
    padding: 3px;
}
.announcementDesc{    
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.viewersSpan{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #918B89;
}
.ongoingdot{
    height: 10px;
    width: 10px;
    background-color: #2fdf4d;
    border-radius: 50%;
    display: inline-block;
}
.downstaticbtn{
    border-radius: 10px;

    bottom: 70px;
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
}
.parent .active .showtext {
    color: #FF0000;
    border-bottom: 2px solid var(--theme-color);
}
.footerFilterTxt .showtext {
    color: #FF0000;
    border-bottom: 2px solid var(--theme-color);
}
.parent .active .show {
    /* filter: invert(62%) sepia(76%) saturate(55581%) hue-rotate(350deg) brightness(180%) contrast(1123%); */
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(350deg) brightness(180%) contrast(10000%);


}
.datepicker {
    /* top:100% !important; */
}
.footerfiltersortdiv{
    bottom: 140px;
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
}
.footersortbg{
    background: rgba(0, 0, 0, 0.9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate {
    /* width:20px; */
height:20px;
color:white;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.footerfilteredtext{
    font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;

color: #F5F5F5;
}
/*announcement detail ui*/
.detailScrollableDiv{
/*    overflow-y: scroll !important;
    overflow-x: hidden;
    max-height: 25vh;*/
}
.submissionDiv{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.submissionDiv h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4894B;
    /* width: 80%; */
    justify-content: center;
    margin: auto;
}
.announcementPhoto{
    width: 150px;
    height: 100px;
}
.announcementVideo{
    width: 150px;
    height: 100px;
}
.announcementMediaDiv span{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A4894B;
}
.sliderBtn{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.sliderImg{
    height: 100px;
}
.sliderVideo{
    height: 135px;
}
.closeviewersBtn{
    background: rgba(164, 137, 75, 0.8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}
.mediaSpan{
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;    
    text-align: center;
    color: #A4894B;
}
.interest_submitteddiv{
    margin-top: 170px !important;
}
.comment_profile {
    width: 30px;
    height: 30px;
}

.commentCard{
    background: transparent !important;
    color: white;
    font-size: 18px;
    border: none;
}
.published_date{
    font-size: 14px;
}
.noRecords{
    padding-left: 20px;
    padding-right: 20px;
    max-height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}
.respondcomment{width: 130px;height: 40px;}

/*advance filter page ui*/
.filterCss{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.filterPerYearDropdown, .filterPerYearDropdown:focus, .filterPerMonthDropdown, .filterPerMonthDropdown:focus{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    color: white;
    font-size: 18px;
    padding: 2px;
    border: none;
}
.filterPerYearDropdown option, .filterPerMonthDropdown option{    
    color: white;
    font-size: 14px;
    padding: 2px 0;    
}
.keywordInput::placeholder{
    color: white;
}
.resetFilterDiv button{
    height: 40px;
}
.announcementImageVid {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.cancelclick{
    color:white;
    position: absolute;
    right: 0px;
    top: 0px;
}
.applyFilter{
    background: rgba(164, 137, 75, 0.8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.detailHeader{
    position: absolute;
    height: 145px;
    width: 100%;
    border-radius: 0px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.6);   
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
}




.filtersecstatic{
    top: 120px;
    position: fixed;
    z-index: 1;
}
.listpagestaticbtn{
    top: 190px;
    position: fixed;
    z-index: 1;
}
.announcementlistscrollbody{
    overflow: hidden scroll;
    padding-top: 230px !important;
    padding-bottom: 150px;
    z-index: 0;
}
.advancedFilterDiv{
    padding-top: 145px !important;
    padding-bottom: 65px;
}