html,
body {
/*    overflow: hidden !important;*/
    /*background: #F3F4F6;*/
    font-family: 'Montserrat';
    font-style: normal; 
    padding-top: 70px;
    background-image: url(/assests/images/announcement/announcementBgImg.jpg);
}
.fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.fixed-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.announcementbody{
    background-image: url(/assests/images/announcement/announcementBgImg.jpg);
    width: 100%;
    height: 100%;
}
.filterblackbg{
    /* position: absolute; */
background: rgba(0, 0, 0, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
/* transform: matrix(1, 0, 0, -1, 0, 0); */
}
.filtertext{
    font-weight: 700;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;

color: #A4894B;

}
.filtersection{
    /*top: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
}
.footerfiltersection{
    bottom: 70px;
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;

}
.footerfilterblackbg{
    background: rgba(0, 0, 0, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.top-zero{
    top:0;
}
.staticBlackBg{
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
}
.commonheadertext{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 65px;
}
.announcementText{    
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #A4894B;
}
.createAnnouncementText{    
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #A4894B;
    width:100%;
}
.announcementSection{
/*    overflow-y: scroll !important;
    position: absolute;
    overflow-x: hidden;*/
    width: 95%;
    max-width: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    /*max-height: -webkit-fill-available;*/
/*    max-height: 60vh;
    bottom: 12%;*/
    /*max-height: 65vh;*/
    bottom: 10%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.inputSpanText{    
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.inputTextClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 70px;
    width: 100%;
    color: white;
    font-size: 22px;
}
.inputTextAreaClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 190px !important;
    color: white;
    font-size: 22px;
}
.inputTextClass:focus, .inputTextAreaClass:focus{
    background: black;
    color: white;
    font-size: 22px;
    border-color: inherit;
}


/* datetimepicker */
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom{
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}
.datepicker th,td,tr{
    color:white;
}

/*announcement list ui*/
/*.announcementListPageSection{
    overflow-y: scroll !important;
    position: absolute;
    overflow-x: hidden;   
    max-height: -webkit-fill-available;
    max-height: 35vh;
    bottom: 24%;    
    max-height: 50vh;
    bottom: 22%;
}*/
.announcementListMainDiv{    
    padding-left: 20px;
    padding-right: 20px;
    max-height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.announcementList{    
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.remainingDiv{
    border: 1px solid #FF0101;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.remainingText{    
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FF0000;
}
.announcementDesc{    
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.viewersSpan{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #918B89;
}
.ongoingdot{
    height: 10px;
  width: 10px;
  background-color: #2fdf4d;
  border-radius: 50%;
  display: inline-block;
}

/*announcement detail ui*/
.detailScrollableDiv{
    overflow-y: scroll !important;
    overflow-x: hidden;   
    /*max-height: -webkit-fill-available;*/
    max-height: 25vh;
}
.submissionDiv{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.submissionDiv h4{
    font-weight: 700;    
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #A4894B;
}
