html,
body {
 overflow: hidden !important;
 background: #F3F4F6;
}
.announcementbody{
    background-image: url(/assests/images/announcement/announcementBgImg.jpg);
    width: 100%;
    height: 100%;
}
.announcementContainer{
    /* background: #F3F4F6; */
    /* background: url("/assests/images/downarrow.png") #E2E2E2  no-repeat 95.5% !important; */
  
}
.top-zero{
    top:0;
}
.staticBlackBg{
    /* position: absolute; */
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
}
.commonheadertext{
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 65px;
}
.announcementText{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #A4894B;
    /* top: 50%;
    left: 3%; */
}
.createAnnouncementText{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #A4894B;
    /* top: 70%;
    left: 3%; */
    /* top: 70%;
    left: 3%; */
}
.announcementSection{
    overflow-y: scroll !important;
    position: absolute;
    overflow-x: hidden;
    width: 95%;
    max-width: 100%;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    max-height: -webkit-fill-available;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.inputSpanText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
}
.inputTextClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 70px;
    width: 100%;
    color: white;
}
.inputTextAreaClass{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 190px !important;
    color: white;
}
