html,
body {

 overflow: hidden !important;
 background: #F3F4F6;
}
.profile_container{
    background: #F3F4F6;
}
.profile-head-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #A4894B;
}
.static-black-bg{
    position: fixed;
    width: 100%;
    height: 18%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    z-index:1;
}
/* .static-bottom-bg{
    position: fixed;
width: 428px;
height: 70px;
left: 0px;
bottom:0px;

background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(5px);
} */
/* .h-45{
    height: 45%;
}
.h-60{
    height: 60%;
} */
.topSet{
    top: 25%;
}
.detailwholesection{
    overflow-y: scroll !important;
    /* inset: 0; */
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    z-index: 1;
    padding-left: 35px;
    padding-right: 35px;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: stretch;
    max-height: -webkit-fill-available;
    height: 70%;
}


.padd-right-30{
    /* padding-right: 30px; */
}
.profile_headerimg{
    /* position: fixed; */
    top:0;
    height: 250px;
    width: 100%;
}
.profile_footerimg{
    position: fixed;
    bottom: 0;
    z-index: 0;
}
.profile-section{
    /* padding-top: 240px; */

    
}
.profilewholesec{
   
}
.profile-card{
    /* position: absolute; */
width: 100px;
height: 100px;
background: #B7B7B7;
border-radius: 10px;
border: none;
text-align: center;
justify-content: center;


}
.img-profile-card{
    width: 100px;
height: 100px;
border-radius: 10px;
border: none;
object-fit: cover;
max-width: fit-content;
display: flex;
justify-content: center;
margin: auto;
background: transparent;



/* width: 100%;
height: 100%;
object-fit: scale-down;
max-width: 100%;
max-height: 300px;
display: inline;
border-radius: 10px; */
}
.myprofiletext{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;

color: #A4894B;

position: absolute;
    top: 35%;
}
.profabsolute{
    top: 19%;
    position: absolute;
    right: 25px;
}
.defprofiletext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: auto;
}
.edit-profile-div{
    overflow-y: scroll !important;
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    z-index: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    top: 30%;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: stretch;
    max-height: -webkit-fill-available;
    height: 70%;
    padding-bottom: 150px;
    
}
.Setprofile{
/* width: 300px; */
/* height: 300px;
background: #B7B7B7;
border-radius: 10px;
display: flex;
justify-content: center;
margin: auto; */

width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0px 0px 2px lightgrey;
    background: #B7B7B7;
    height:300px;
    max-height:300px;
}
.profileback{
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0px 0px 2px lightgrey;
    background: #B7B7B7;
    height: 100%;
    max-height: 100px;
}
.profilecardimg{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100px;
    display: inline;
    border-radius: 0px;
    box-shadow: 0px 0px 2px lightgrey;
    background: #B7B7B7;
}
.setprofiledef{
    /* width: 100%;
height: 300px;
border-radius: 10px;
display: flex;
justify-content: center;
margin: auto;
object-fit:cover;
max-width: fit-content; */


}
.site-footer{
    display: none;
}
.profildef1{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0px 0px 2px lightgrey;
    background: #B7B7B7;
    height:300px;
    max-height:300px;
}
.showpreview{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 300px;
    display: inline;
    border-radius: 0px;
    height: 100%;
}
.edit-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #A4894B;
}
.setprofImg{
/* width: 100%;
height: 300px;
border-radius: 10px;
object-fit: cover;
max-width: fit-content; */

width: 100%;
height: 100%;
object-fit: scale-down;
max-width: 100%;
max-height: 300px;
display: inline;
border-radius: 0px;
}



::-webkit-scrollbar {
    width: 8px;
    -webkit-overflow-scrolling: touch;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background: #000000; 
    -webkit-overflow-scrolling: touch;
}
